<div>
  <div class="fanik-carousel">
    <div class="arrow left-arrow">&#10094;</div>
    <div class="arrow right-arrow">&#10095;</div>

    <div class="fanik-container">
      <div class="fanik-wrapper">
        <% cards.forEach(function(card) { %>
          <a class="fanik-card" href="<%= card.href %>" target="_blank">
            <div class="fanik-card-thumb">
              <img src="<%= card.imgSrc %>" class="fanik-client-img" alt="<%= card.imgAlt %>" />
              <span class="fanik-title">
                <%= card.title %>
              </span>
              <span class="fanik-tag">
                <%= card.tag %>
              </span>
            </div>
          </a>
          <% }); %>
      </div>
      <div class="indicators" style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);">
        <% cards.forEach(function(card, index) { %>
          <button class="carousel-button <%= index === 0 ? 'active' : '' %>"></button>
          <% }); %>
      </div>
    </div>
  </div>
</div>