<%- include('partials/header.ejs') %>

    <%- include('partials/main_nav.ejs') %>
        <div class="container">
            <h1>Welcome to
                <%=title %>
            </h1>

            <p>Hi my name is HOI KIT FAN. This is my assignment1 of COMP229. </p>
        </div>

        <%- include('partials/bottom_nav.ejs') %>

            <%- include('partials/footer.ejs') %>