<!-- 
    Filename: about.ejs
    Student Name: HOI KIT FAN
    Student ID: 301249275
    Date: 06/09/2023
-->
<%- include('partials/header.ejs') %> <%- include('partials/main_nav.ejs') %>
<div class="container">
  <div
    class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary d-flex flex-column flex-md-row"
  >
    <div class="col-lg-6 px-0 order-2 order-md-1">
      <div class="d-flex justify-content-center">
        <h3 class="headline">Welcome to <%=title %></h3>
      </div>
      <p class="head-desc">My name is HOI KIT FAN.</p>
      <p class="subhead lead">
        "I am a student of FALL 2022 and interested on any job related to
        frontend developer. My current study code is 3408 Software Engineering
        Technician."
      </p>
      <p class="head-desc">Student ID:301249275 | SIN registered.</p>
      <p class="head-desc">From Hong Kong</p>
      <p class="head-desc">Language: Cantonese, Mandarin, English</p>
    </div>
    <div class="col-lg-6 px-0 d-flex justify-content-center order-1 order-md-2">
      <img
        src="/img/about/me.jpg"
        alt="ivan"
        class="img-fluid rounded"
        style="max-width: 45%"
        height="225"
      />
    </div>
  </div>

  <main class="container">
    <div class="row mb-2 justify-content-center">
      <div class="col-md-6">
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative justify-content-center"
        >
          <div class="col p-4 d-flex flex-column position-static text-center">
            <strong class="d-inline-block mb-2 text-primary-emphasis"
              >Document</strong
            >
            <h3 class="mb-0">Resume</h3>
            <div class="mb-1 text-body-secondary">Updated Jun 9 2023</div>
            <p class="card-text mb-auto">
              A PDF document of my resume is available, which I update
              regularly. Thank you for your time!
            </p>
            <a
              href="/pdf/resume.pdf"
              class="icon-link gap-1 icon-link-hover stretched-link"
              style="
                display: flex;
                align-items: center;
                justify-content: center;
              "
              target="_blank"
            >
              More Information
              <svg class="bi">
                <use xlink:href="#chevron-right"></use>
              </svg>
            </a>
          </div>
          <div
            class="col-auto d-none d-lg-block text-center align-items-center"
          >
            <svg
              class="bd-placeholder-img"
              width="200"
              height="250"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="Placeholder: Thumbnail"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
            >
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c"></rect>
              <foreignObject x="0" y="0" width="100%" height="100%">
                <div
                  xmlns="http://www.w3.org/1999/xhtml"
                  style="
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                  "
                >
                  <i
                    class="fas fa-file-pdf"
                    style="font-size: 50px; color: #eceeef"
                  ></i>
                </div>
              </foreignObject>
            </svg>
          </div>
        </div>
      </div>
    </div>

    <div class="row g-5">
      <div class="col-md-8">
        <article class="blog-post">
          <h3 class="pb-4 mb-4 fst-italic border-bottom">EDUCATION</h3>
          <h4>Centennial College</h4>
          <p class="blog-post-meta">FALL 2022 –</p>
          <h4>University of Manchester</h4>
          <p class="blog-post-meta">2011-2014</p>
          <p>BSC (HONS) Management (Marketing)</p>
          <br />
          <h3 class="pb-4 mb-4 fst-italic border-bottom">COLLEGE ACTIVTIES</h3>
          <h4>Volunteer of basic Python workshop</h4>
          <p class="blog-post-meta">7th Dec 2022</p>
          <p>
            I participated in a volunteer project last semester, organized by
            Professor Narendra Pershad and Professor Mehrdad Tirandazian, where
            I assisted and guided junior students in learning Python.
          </p>

          <h4>Fluent English speaking and concept of Linux</h4>
          <p>
            As per Professor Vivek Ahuja's requirement, some of my coursework
            includes video recordings that demonstrate the process of setting up
            a web server and configuring the connection settings between two
            machines.
          </p>
          <p>Youtube Videos about Linux:</p>
          <div class="d-flex justify-content-center">
            <a
              href="https://www.youtube.com/watch?v=ZaobFBLjRYE&t=2s"
              class="button-white button-elevated button-neutral"
              alt="pdf"
              target="_blank"
            >
              <i class="fa-brands fa-youtube" style="font-size: 30px"></i>
              <br />
              <span class="responsive-text">Basic Apache Server in Fedora</span>
            </a>
            <a
              href="https://www.youtube.com/watch?v=lwzwDat2fgc&t=9s"
              class="button-black button-elevated button-neutral"
              alt="pdf"
              target="_blank"
            >
              <i class="fa-brands fa-youtube" style="font-size: 30px"></i>
              <br />
              <span class="responsive-text"
                >Files sharing between virtual machine</span
              >
            </a>
          </div>

          <br />

          <h3 class="pb-4 mb-4 fst-italic border-bottom">
            Comfortable switching between OS
          </h3>

          <p>
            Since I usually use a macbook, I sometimes need to switch to Windows
            for college, particularly for C# exams that require the use of
            WinForms. However, I am also proficient in using Fedora and Ubuntu
            and have installed Node.js and NPM. Additionally, I am self-learning
            Angular with the help of Professor Eduardo Santana Severino's
            materials.
          </p>
          <br />
          <h3 class="pb-4 mb-4 fst-italic border-bottom">
            A person with a profound passion for art
          </h3>
          <p>
            My artistic portraits demonstrate a keen sense of aesthetics,
            contributing to my front-end development work by enabling the
            creation of visually appealing interfaces with balanced designs and
            layouts.
          </p>
          <br />
          <div class="d-flex justify-content-center">
            <a
              href="https://www.instagram.com/ivanfan19100/"
              class="button-black button-elevated button-neutral"
              alt="pdf"
              target="_blank"
            >
              <i class="fa-brands fa-instagram" style="font-size: 30px"></i>
              <br />Instagram</a
            >
          </div>
          <br />
          <p>
            I am a self-motivated person, interested on graphic desgin and
            programming. I am recently self-learning blender, animation, and 3d
            modeling at my leisure time. The below work is a lotus leaf with
            waterfall animation. I want to be a frontend developer or any
            occupation related to digital graphics.
          </p>
          <br />
          <div class="d-flex justify-content-center">
            <img
              src="/img/about/3d.gif"
              alt="my first animation"
              class="img-fluid rounded"
              style="max-width: 70%"
            />
          </div>
          <br />
          <h3 class="pb-4 mb-4 fst-italic border-bottom">Gallery</h3>
          <p>
            A collection capturing everyday moments with friends in Hong Kong.
          </p>

          <div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <div class="d-flex justify-content-center">
                  <img
                    src="/img/about/p1.JPG"
                    alt="my first animation"
                    class="rounded myImage"
                  />
                </div>
              </div>

              <div class="col-md-6 col-sm-12">
                <div class="d-flex justify-content-center">
                  <img
                    src="/img/about/p3.JPG"
                    alt="my first animation"
                    class="rounded myImage"
                  />
                </div>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <div class="d-flex justify-content-center">
                  <img
                    src="/img/about/p4.JPG"
                    alt="my first animation"
                    class="rounded myImage"
                  />
                </div>
              </div>

              <div class="col-md-6 col-sm-12">
                <div class="d-flex justify-content-center">
                  <img
                    src="/img/about/p5.png"
                    alt="my first animation"
                    class="rounded myImage"
                  />
                </div>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <div class="d-flex justify-content-center">
                  <img
                    src="/img/about/shiba.JPG"
                    alt="my first animation"
                    class="rounded myImage"
                  />
                </div>
              </div>

              <div class="col-md-6 col-sm-12">
                <div class="d-flex justify-content-center">
                  <img
                    src="/img/about/p6.png"
                    alt="my first animation"
                    class="rounded myImage"
                  />
                </div>
              </div>
            </div>
            <hr />
          </div>
        </article>
      </div>

      <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem">
          <div class="p-4 mb-3 bg-body-tertiary rounded">
            <h4 class="fst-italic">
              One of my favourite quote from Batman Begins
            </h4>
            <p class="mb-0">
              "It's not who I am underneath, but what I do that defines me."
            </p>
          </div>

          <div>
            <h4 class="fst-italic">Highlighted Projects</h4>
            <ul class="list-unstyled">
              <li>
                <a
                  class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                  href="/projects"
                >
                  <svg
                    class="bd-placeholder-img"
                    width="100%"
                    height="96"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                    preserveAspectRatio="xMidYMid slice"
                    focusable="false"
                  >
                    <image
                      xlink:href="/img/projects/p1.png"
                      x="0"
                      y="0"
                      height="100%"
                      width="100%"
                      preserveAspectRatio="none"
                    />
                  </svg>
                  <div class="col-lg-8">
                    <h6 class="mb-0">Project 1 - Menu</h6>
                    <small class="text-body-secondary">October 15, 2022</small>
                  </div>
                </a>
              </li>
              <li>
                <a
                  class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                  href="/projects"
                >
                  <svg
                    class="bd-placeholder-img"
                    width="100%"
                    height="96"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                    preserveAspectRatio="xMidYMid slice"
                    focusable="false"
                  >
                    <image
                      xlink:href="/img/projects/p5.png"
                      x="0"
                      y="0"
                      height="100%"
                      width="100%"
                      preserveAspectRatio="none"
                    />
                  </svg>
                  <div class="col-lg-8">
                    <h6 class="mb-0">Final Project - Realtor</h6>
                    <small class="text-body-secondary">December 14, 2022</small>
                  </div>
                </a>
              </li>
              <li>
                <a
                  class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                  href="/projects"
                >
                  <svg
                    class="bd-placeholder-img"
                    width="100%"
                    height="96"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                    preserveAspectRatio="xMidYMid slice"
                    focusable="false"
                  >
                    <image
                      xlink:href="/img/projects/p9.png"
                      x="0"
                      y="0"
                      height="100%"
                      width="100%"
                      preserveAspectRatio="none"
                    />
                  </svg>
                  <div class="col-lg-8">
                    <h6 class="mb-0">Gallery</h6>
                    <small class="text-body-secondary">April 13, 2023</small>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<%- include('partials/bottom_nav.ejs') %> <%- include('partials/footer.ejs') %>
