<%- include('partials/header.ejs') %>

    <%- include('partials/main_nav.ejs') %>
        <div class="container">
            <div class="content">
                <h1>Welcome to
                    <%=title %>
                </h1>

                <p>Hi my name is HOI KIT FAN. This is my assignment1 of COMP229. I have to complete the following tasks
                    to
                    complete the assignment</p>
                <ol>
                    <li>Appropriate content for a Personal Portfolio</li>
                    <li>Portfolio site will use ExpressJS and NodeJS</li>
                    <li>Site files will be migrated to work within the public, routes and views folders</li>
                    <li>Internal Documentation</li>
                    <li>Share my files on Github</li>
                    <li>Create short video on Youtube</li>
                </ol>
                <p>SUBMITTING MY WORK</p>
                <ol type="A">
                    <li>A zip archive of your website’s Project files</li>
                    <li>A link to GitHub (preferable).</li>
                    <li>A link to your live portfolio site hosted with a Cloud provider</li>
                </ol>
            </div>
        </div>


        <%- include('partials/bottom_nav.ejs') %>

            <%- include('partials/footer.ejs') %>