<%- include('partials/header.ejs') %> <%- include('partials/main_nav.ejs') %>
<div class="container">
  <div class="d-flex justify-content-center">
    <h3 class="headline"><%=title %></h3>
  </div>
  <p class="subhead">
    "I offer a range of services, including the design and implementation of any
    component featured on this website."
  </p>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <div class="d-flex justify-content-center">
          <i class="fa-solid fa-c padded-icon"> #</i>
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="d-flex justify-content-center">
          <i class="fa-brands fa-java padded-icon"> JAVA</i>
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="d-flex justify-content-center">
          <i class="fa-brands fa-square-js padded-icon"> JS</i>
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="d-flex justify-content-center">
          <i class="fa-brands fa-html5 padded-icon"> HTML5</i>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-12">
        <div class="d-flex justify-content-center">
          <i class="fa-brands fa-ubuntu padded-icon"></i>
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="d-flex justify-content-center">
          <i class="fa-brands fa-weebly padded-icon"></i>
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="d-flex justify-content-center">
          <i class="fa-brands fa-vuejs padded-icon"></i>
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="d-flex justify-content-center">
          <i class="fa-brands fa-git padded-icon">
            <i class="fa-solid fa-code-pull-request"></i
          ></i>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="d-flex justify-content-center">
          <i class="fa-solid fa-cube padded-icon"> BLENDER</i>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="d-flex justify-content-center">
          <i class="fa-solid fa-palette padded-icon"> PHOTOSHOP</i>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="d-flex justify-content-center">
          <i class="fa-solid fa-vr-cardboard padded-icon"> MATTERPORT</i>
        </div>
      </div>
    </div>

    <p class="head-desc">
      If you require a 3D scan of your location, please do not hesitate to
      contact me. I offer related services.
    </p>
    <div class="d-flex justify-content-center">
      <iframe
        width="853"
        height="480"
        src="https://my.matterport.com/show/?m=2U7TKTPrny1"
        frameborder="0"
        allowfullscreen
        allow="xr-spatial-tracking"
      ></iframe>
    </div>
  </div>
</div>

<%- include('partials/bottom_nav.ejs') %> <%- include('partials/footer.ejs') %>
